.share-buttons-wrapper {
  position: fixed;
  top: 60px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 999;
}

.share-button {
  background: transparent;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
  transition: transform 0.2s;
  filter: drop-shadow(0 0 1px #000);
  color: white;
}

.share-button:hover {
  transform: scale(1.2);
}
